<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"
[[ -f "${TM_SUPPORT_PATH}/lib/html.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/html.sh"

htmlHeader $TM_FILEPATH

# instad of using pre from bash_init.sh "${TM_LUA:-lua}" "$TM_FILEPATH" 2&gt;&amp;1|pre
# preformat stderr with separate pipe so it is wrapped with error class
echo -n '&lt;pre style="word-wrap: break-word;"&gt;'
( ( "${TM_LUA:-lua}" "$TM_FILEPATH" | perl -pe '$| = 1; s/&amp;/&amp;amp;/g; s/&lt;/&amp;lt;/g; s/&gt;/&amp;gt;/g; s/$\\n/&lt;br&gt;/' ) 3&gt;&amp;1 1&gt;&amp;2 2&gt;&amp;3 | perl -pe '$| = 1; s/&amp;/&amp;amp;/g; s/&lt;/&amp;lt;/g; s/&gt;/&amp;gt;/g; s/^/&lt;span class="error"&gt;/; s/$\\n/&lt;\/span&gt;&lt;br&gt;/' ) 2&gt;&amp;1
echo '&lt;/pre&gt;'

htmlFooter
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>lua</string>
			<key>locations</key>
			<array>
				<string>/opt/local/bin/lua</string>
				<string>/usr/local/bin/lua</string>
			</array>
			<key>variable</key>
			<string>TM_LUA</string>
		</dict>
	</array>
	<key>scope</key>
	<string>source.lua</string>
	<key>semanticClass</key>
	<string>process.run.script.lua</string>
	<key>uuid</key>
	<string>BF303CAC-FF2B-4299-8F2B-C84FE64B5146</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
